{% include 'snippets/navbar.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block style_code %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    body{
    background-color: #A3D8F1
    }
</style>
{% endblock style_code %}
{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <div class="container col-8 padding">
          <div class="row  justify-content-center">
              <div class="col-12">
                  <p>Having trouble logging in ? Enter your HotLib email address
                  that you used during registration. We'll send you an email to recover your account </p>
              </div>
          </div>
           <div class="row">
               <div class="media-container-column col-lg-12" data-form-type="formoid">
                 {{ form.email|as_crispy_field }}
               </div>


            </div>
              <div class="row ">
        <div class="media-container-column col-lg-12" data-form-type="formoid">
            <button type="submit" class="btn btn-danger ">RESET</button>
        </div>
        </div>
      </div>



  </form>
{% endblock %}