
	  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.form-signin {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto;
	//margin-top:90px;
    background-color: #fff;

    border: 2px solid 	#5cb85c;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);

	font-family:Tahoma, Geneva, sans-serif;
	color:#000000;
	font-weight:lighter;
}
body, html {
   overflow-x:hidden;
  }
  body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

select {
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor;
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  &:focus, &:active {
    outline: 0;
    border-bottom-color: red;
  }
}

.images {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
  box-shadow: 0 20px 15px -15px rgba(#000, .5);
  img,
  .loader,
  .no-selection {
    display: none;
    letter-spacing: .15em;
    font-weight: bold;
  }
  &[data-selected=""]:not(.loading) {
    background: #eee;
    .no-selection {
      display: block;
    }
  }
  &.loading {
    background: #eee;
    .loader {
      display: block;
      animation: loading 1.5s linear;
    }
  }
}
@for $i from 1 through 5 {
  .images[data-selected="#{$i}"] {
    img[data-image="#{$i}"] {
      display: block;
    }
  }
}

@keyframes loading {
  to {
    letter-spacing: .25em;
  }
}


.form-signin .form-signin-heading{
    color:	#5cb85c;
}
.form-signin input[type="text"],
.form-signin input[type="email"]
.form-signin input[type="password"],
.form-signin input[type="email"] {

    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}

.signin-form
{
	//border:solid red 1px;
	margin-top:80px;
}
.navbar{
  padding: .8rem;
  background-color: #1fc8db;
background-image: linear-gradient(141deg, #008ECC 0%, #008ECC 51%, #2cb5e8 75%);

}
.navbar-nav li{
  padding-right: 20px;
  color: #ffffff;
}
.nav-link{
  font-size: 1.1em !important;
  color: #ffffff;
}

.dropdown-menu{
  background-color: #2cb5e8;
  background-image: linear-gradient(141deg, #2cb5e8 0%, #2cb5e8 0%, #2cb5e8 0%);
}
.container-fluids{
 padding: 2px;


}
.carousel-inner img{
  height: 100%;
  width: 100%
}
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;

}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom:1rem;
}
footer{

  background-color: #A3D8F1;
  color: #000000;
  margin-top:4rem;
  padding-top: 1rem;

}
hr.light{
  border-top: 1px solid #A3D8F1;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.footer a{
  color: #000000;

}
hr.light-100{
  border-top: 1px solid #000000;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;

  }
@media (max-width: 768px) {
  .carousel-caption{
    top: 45%;
  }
  .carousel-caption h1{
    font-size: 350%

  }
  .carousel-caption h3{
    font-size: 140%;
    font-weight: 400;
    padding-bottom:.2rem;
  }
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 100;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;

  }

}
@media (max-width: 576px) {
  .carousel-caption{
    top: 40%;
  }
  .carousel-caption h1{
    font-size: 250%

  }
  .carousel-caption h3{
    font-size: 110%;
  }
  .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
  }
  .btn .btn-black-outline{
    text-align: center;
  }

  .carousel-indicators{
    display: none;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;

  }

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/*a new csss styles*/
