{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Android, Application, branding, sharing Application">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Betahood Inc">
    <title>HotLib App</title>
    <link rel="icon" type="image/png" href='{% static "android/images/hotlibb.png" %}' >

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href='{% static "android/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/newmain.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/line-icons.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/owl.carousel.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/owl.theme.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/nivo-lightbox.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/main.css" %}'>
    <link rel="stylesheet" href='{% static "android/css/responsive.css" %}'>

  </head>

  <body>

    <!-- Header Section Start -->
    <header id="#" class="hero-area-2">
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <a href="index.html" class="navbar-brand"><img src="" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="./#appfeatures">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="./#screenshots">Screenshots</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="./#testimonial">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="./#download">Download</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="./#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/">Web App</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row space-100">
          <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="contents">
              <h2 class="head-title">Maseno HotLib App <br>Find, download and share </h2>
              <p>Betahood Inc presents Maseno HotLib Android Application, a Techology
              like no other. The Application allows you to find, download and share awesome learning resources without limit. It's reliable, easy and fast.</p>
              <div class="header-button">
                <a href="#app-features" class="btn btn-border-filled">Learn More</a>
                <a href="#download" class="btn btn-border">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="intro-img">
              <img src='{% static "android/images/intro-mobile.png" %}' alt="">
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- features Section Start -->
      <div id="app-features" class="section">
      <div class="container">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">features</p>
          <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Amazing Features</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="content-left text-right">
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-leaf"></i>
                </span>
                <div class="text">
                  <h4>User Friendly</h4>
                  <p>The material design used allows you to navigate through the app with ease.</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-dashboard"></i>
                </span>
                <div class="text">
                  <h4>Super Fast Speed</h4>
                  <p>Experience fast loading Android application, yet still proving 100 % usable.</p>
                </div>
              </div>
              <div class="box-item left">
                <span class="icon">
                  <i class="lni-headphone-alt"></i>
                </span>
                <div class="text">
                  <h4>24/7 Support</h4>
                  <p>Betahood Inc Customer care unit is up and running 24/7 ready to support you.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="show-box">
              <img src='{% static "android/images/app.png" %}' alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="content-right text-left">
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-shield"></i>
                </span>
                <div class="text">
                  <h4>Secure</h4>
                  <p>We value security of your information, so every module has been made secure. </p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-star-filled"></i>
                </span>
                <div class="text">
                  <h4>Awesome Rating</h4>
                  <p>The app has received awesome invitation to the marketet with awesome rating.</p>
                </div>
              </div>
              <div class="box-item right">
                <span class="icon">
                  <i class="lni-cup"></i>
                </span>
                <div class="text">
                  <h4>Educative</h4>
                  <p>Hotlib vision is to bring learning resources as close as possible to students</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- features Section End -->

    <!-- Start Video promo Section -->
    <section class="video-promo section">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
              <div class="video-promo-content text-center">
               <video width='100%' height= '240' controls>
                  <source src="{% static '/android/videos/navigation-video.mp4' type='video/mp4' %}">
                  Your browser does not support the video tag.
                  </video>
                <h2 class="mt-3 wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Watch Video</h2>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Video Promo Section -->

    <!-- Features Section Start -->
    <div id="features-two" class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src='{% static "android/images/amazing.jpg" %}' alt="" width="1081" height="837">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper wow fadeInRight" data-wow-delay="0.6s">
              <div>
                <p class="btn btn-subtitle">How It Works?</p>
                <h3>Our App Is Amazing!</h3>
                <p>Our App is designed to work flawlessly, same time accepting users inputs and quickly bring to users the expected results depending on the inputs entered. It has amazing features: An open Forum and a How To find tool.</p>
                <a class="btn btn-rm" href="#">Read More <i class="lni-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text-wrapper wow fadeInRight" data-wow-delay="0.9s">
              <div>
                <p class="btn btn-subtitle">Update</p>
                <h3>Free Updates!</h3>
                <p>Maseno Hotlib development team is strict with perfection. Everyday they explore your needs and hence find the need to provide quick updates for bug fixes and adding new features. </p>
                <a class="btn btn-rm" href="#">Read More <i class="lni-arrow-right"></i></a>
              </div>
            </div>
          </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="1.2s">
              <img class="img-fluid" src='{% static "android/images/update.png" %}' alt=""  width="1165" height="858">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Section End -->

    <!-- Awesome Screens Section Start -->
    <section id="screenshots" class="screens-shot section">
      <div class="container">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Screenshots</p>
          <h2 class="section-title">App Screens</h2>
        </div>
        <div class="row">
          <div class="touch-slider owl-carousel">
            <div class="item">
              <div class="screenshot-thumb">
                <img class="img-fluid" src='{% static "android/images/screenshot/img-1.png" %}'alt="">
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img class="img-fluid" src='{% static "android/images/screenshot/img-2.png" %}' alt="">
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img class="img-fluid" src='{% static "android/images/screenshot/img-3.png" %}' alt="">
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img class="img-fluid" src='{% static "android/images/screenshot/img-4.png" %}' alt="">
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img class="img-fluid" src='{% static "android/images/screenshot/img-5.png" %}' alt="">
              </div>
            </div>
            <div class="item">
              <div class="screenshot-thumb">
                <img class="img-fluid" src='{% static "android/images/screenshot/img-6.png" %}' alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Awesome Screens Section End -->

    <!-- Team section Start -->
    <section id="team" class="section">
      <div class="container ">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Team</p>
          <h2 class="section-title">Our Expert Team</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-team wow fadeInUp" data-wow-delay="0.2s">
              <div class="team-thumb">
                <img src='{% static "img/team1.png" %}' alt="">
                <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Emmanuel Atemba</h4>
                  <p>Full stack Web Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-team wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-thumb">
                <img src='{% static "img/team2.png" %}' alt="">
                <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Grace Mbira</h4>
                  <p>Developer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-team wow fadeInUp" data-wow-delay="0.4s">
              <div class="team-thumb">
                <img src='{% static "img/team3.png" %}' alt="">
                <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li>
                </ul>
              </div>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">John Kamau</h4>
                  <p>Full Stack Python Developer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section End -->

    <!-- Testimonial Section Start -->
    <section id="testimonial" class="section" >
      <div class="container">
        <div class="section-header">
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Reviews</p>
          <h2 class="section-title">Who Loved our App</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="touch-slider owl-carousel">
              <div class="item">
                <div class="testimonial-item">
                  <div class="content-inner">
                    <p class="description">
                      Awesome App. It has never been easy to provide in hand resources to students as it is today using this Application. I love how they have done the intergration between the Web App and the HotLib android application.                    </p>
                    <div class="author-info">
                      <h2><a href="#">Dr Oduor Ouma</a></h2>
                      <span>Maseno University, School of Computing</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="content-inner">
                    <p class="description">This application has been handy in  my computing course, flawlessly providing all the resources that I require any time from any where. It's a great piece of Technology.</p>
                    <div class="author-info">
                      <h2><a href="#">Ken Kariuki</a></h2>
                      <span>JUUST, Student</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                  <div class="content-inner">
                    <p class="description">All these years we have been using WhatsApp to send notes to our students. Well, there is alot of restrictions. But with HotLib Application my students never miss a resource.</p>
                    <div class="author-info">
                      <h2><a href="#">Prof Mark Parker</a></h2>
                      <span>Maseno School of Medicine</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                      <img src="img/testimonial/img2.png" alt="">
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">I always think of this App as a bridge between students and their lectures. It provides a meium for the lecturers to provide resources to students, providing 100 % effeciency. I really enjoyed their awesome Open Forum tool and the How To find too. </p>
                    <div class="author-info">
                      <h2><a href="#"> Dr Mary Anne</a></h2>
                      <span>Maseno University</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
          </div>
        </div>
    </section>
    <!-- Testimonial Section End -->
    <!-- Subcribe Section Start -->
    <div id="subscribe" class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="subscribe-form">
              <div class="form-wrapper">
                <div class="sub-title text-center">
                  <h3>Subscribe For More Features</h3>
                  <p>Never miss newest technologies by Betahood Inc. Subscribe to receive promotional emails and messages for launches and releases.</p>
                </div>
                <form>
                  <div class="row">
                    <div class="col-12 form-line">
                      <div class="form-group form-search">
                        <input type="email" class="form-control" name="email" placeholder="Enter Your Email">
                        <button type="submit" class="btn btn-common btn-search">Subscribe</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subcribe Section End -->

    <!-- download Section Start -->
    <section id="download">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="download-thumb wow fadeInLeft" data-wow-delay="0.2s">
              <img class="img-fluid" src="img/mac.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="download-wrapper wow fadeInRight" data-wow-delay="0.2s">
              <div>
                <div class="download-text">
                  <h4>Download Our App From Store</h4>
                  <p>Our HotLib Android app is now available in Google's PlayStore. Hurry and download ot for free.
                  IOS version will be available soon.
                  <a class="btn btn-rm" href="#subscribe">Subscribe to get news about its release. <i class="lni-arrow-right"></i></a>
                  </p>
                </div>
                <a href="#" class="btn btn-common btn-effect"><i class="lni-android"></i> From PlayStore<br></a>
                <a href="#" class="btn btn-apple"><i class="lni-apple"></i> From AppStore<br></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- download Section Start -->

    <!-- Contact Section Start -->
    <section id="contact">
     <br><br><br><br><br><br><br>
      <div class="contact-form">
        <div class="container">
          <div class="row justify-content-center">
            <div class="offset-top">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="contact-block wow fadeInUp" data-wow-delay="0.2s">
                  <div class="section-header">
                    <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Contact</p>
                    <h2 class="section-title">Love to Hear From You</h2>
                  </div>
                  <form id="contactForm">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name" required="">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" placeholder="Email" id="email" class="form-control" name="name" required data-error="Please enter your email" required="">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" required="">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" id="message" placeholder="Message" rows="7" data-error="Write your message" required=""></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                        <div class="submit-button">
                          <button class="btn btn-common btn-effect" id="submit" type="submit">Submit</button>
                          <div id="msgSubmit" class="h3 hidden"></div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <img src="img/logo.png" alt="">
              <div class="textwidget">
                <p>Improving Education and Lives by exploring gaps in the education field and providing solutions through Technlogy.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">About Betahood Inc.</h3>
                <ul class="menu">
                  <li><a href="#contact">Join Us</a></li>
                  <li><a href="/about_us">About Us</a></li>
                  <li><a href="/">Web App</a></li>

                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Resource</h3>
                <ul class="menu">
                  <li><a href="/">Our Web App</a></li>
                  <li><a href="#contact">Become a Partner</a></li>
                  <li><a href="#">Our Technology</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Support</h3>
                <ul class="menu">

                  <li><a href="#contact">Support US</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#contact">Help</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                 &copy; {% now "Y" %} Betahood Inc.  All Rights Reserved.
                </div>
                <div class="float-right">
                  <ul class="footer-social">
                    <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->

    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src='{% static "android/js/jquery-min.js" %}'></script>
    <script src='{% static "android/js/popper.min.js" %}'></script>
    <script src='{% static "android/js/bootstrap.min.js" %}'></script>
    <script src='{% static "android/js/owl.carousel.js" %}'></script>
    <script src='{% static "android/js/jquery.mixitup.js" %}'></script>
    <script src='{% static "android/js/jquery.nav.js" %}'></script>
    <script src='{% static "android/js/scrolling-nav.js" %}'></script>
    <script src='{% static "android/js/jquery.easing.min.js" %}'></script>
    <script src='{% static "android/js/wow.js" %}'></script>
    <script src='{% static "android/js/jquery.counterup.min.js" %}'></script>
    <script src='{% static "android/js/nivo-lightbox.js" %}'></script>
    <script src='{% static "android/js/jquery.magnific-popup.min.js" %}'></script>
    <script src='{% static "android/js/waypoints.min.js" %}'></script>
    <script src='{% static "android/js/form-validator.min.js" %}'></script>
    <script src='{% static "android/js/contact-form-script.js" %}'></script>
    <script src='{% static "android/js/main.js" %}'></script>

  </body>
</html>